.header {
     height: 90px;
     background-color: #1b1b1b;
     display: flex;
     font-size: 1.2rem;
     position: sticky;
     top: 0;
     z-index: 999;
     padding: 0px 100px;
}

.headerLeft {
     flex: 50%;
     display: flex;
     justify-content: flex-start;
     align-items: center;
     margin-left: 50px;
     color: white;
}

.headerTitle {
     text-decoration: none;
     color: white;
     font-weight: 600;
     font-size: 30px;
}

.headerTitle:active {
     transform: scale(1.1);
}

.headerRight {
     flex: 50%;
     display: flex;
     justify-content: flex-end;
     align-items: center;
     margin-right: 50px;
     color: #a1a1a1;
}

.headerLinks {
     display: flex;
}

.headerLink {
     display: flex;
     margin-left: 20px;
     text-decoration: none;
     color: white;
     opacity: 0.3;
}

.headerLink:hover {
     opacity: 0.7;
}

.headerLink:active {
     transform: scale(1.1);
}

.headerIcon {
     margin-right: 10px;
}

.headerActive {
     opacity: 1 !important;
}
